        <div id="rStudioFooter" class="band">
          <div class="bandContent">
            <div id="copyright">
              {{ if .Param "footer.copyright" }}
              {{ with .Param "footer.copyright" }}{{ replace . "{year}" now.Year | markdownify}}{{ end }}<br>
              {{ end }}
              {{ if .Param "footer.support" }}
              {{ with .Param "footer.support" }}{{ replace . "{year}" now.Year | markdownify}}{{ end }}
              {{ end }}
            </div>
            
            <span class="float-right" aria-hidden="true">
              <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" /></a>
                </span>

      </div>  <!-- main -->
    </div>  <!-- app -->

    {{ partial "footer_highlightjs" . }}
    {{ partial "footer_mathjax" . }}
  <!-- {{ template "_internal/google_analytics.html" . }}-->

  </body>
</html>
