{{ define "main" }}

<!-- page -->
<div id="homeContent">

<!-- band_one.md populates this section -->
{{ with .Site.GetPage "/home/band_one.md" }}
  <div class="band first">
    <div class="bandContent">
  <!--  <img src="img/sta210_sticker.png"> -->

<!-- text on the right -->
      <div class="blurb">
        <div class="tagline">
          {{ .Title }}
          </div>
        <div>
          {{ .Content | markdownify }}
        </div>
      </div>

    </div> <!-- bandContent -->
  </div>  <!-- band -->
{{ end }}

<!-- band_two.md populates this section -->
{{ with .Site.GetPage "/home/band_two.md" }}

  <div class="band second">
    <div class="bandContent">
      <div class="blurb_2col"> 
        <div class="tagline">
          {{ .Title }}
        </div>
        <div class = "left">
          {{ .Content | markdownify }}
        </div>
        <div class = "right">
          {{ partial "homepage_sticky_4" . }}
          </div>
        </div>
        </div>
    </div>

{{end}}
  <!-- band three -->
  
  <div class="band third">
    <div class="bandContent">
        <div class = "blurb_3col">
          <div class="col">
             {{ partial "homepage_sticky" . }}
          </div> 
          <div class="col">
             {{ partial "homepage_sticky_2" . }}
          </div> 
          <div class="col">
             {{ partial "homepage_sticky_3" . }}
          </div> 
        </div>
      </div>
    </div> 
</div> 

{{ end }}



